<!DOCTYPE html>

<html>

<head>
    <link rel="icon" type="image/x-icon" href="/images/csv-logo.png">
    <!-- TITLE OF THE PAGE -->
    <title>
        <%=title%>
    </title>
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/f383b6eabf.js" crossorigin="anonymous"></script>
    <!-- importing google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Source+Sans+3:wght@400;500;600;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../css/footer.css">
</head>

<body>
    <!-- HEADER -->

    <!-- BODY -->
    <%- body %>

        <!-- FOOTER -->
        <footer>
            <h4> <img src="/images/csv-logo.png" alt="" width="50px"></h4>
            <p>CSV Upload 2023</p>
            <div class="footer-links">
                <a href="/"><i class="fa-solid fa-house"></i></a>

                <a href="/" target="_blank"><i class="fa-brands fa-github"></i></a>

            </div>
        </footer>
        <!-- JAVASCRIPT -->
        <script type="text/javascript" src="/js/file_viewer.js"></script>

</body>

</html>